{
    "logging_level": "debug",
    "hostname": "localhost",
    "default_page_logged_in": "/welcome",
    "default_page_logged_out": "/",
    "admin_panel_page": "/admin-panel",
    "path_to_templates": "templates/",
    "path_to_cert_cache": "certs/",
    "sqlite_db_path": "data/app.db",
    "file_db_path": "data/",
    "strava_config": {
        "client_id": 0,
        "client_secret": "",
        "authorization_callback": "",
        "scope": "",
        "webhook_callback": "/strava_webhook_callback",
        "verify_token": "",
        "delete_old_activities_after_days": 10,
        "process_webhook_events_after_sec": 600
    },
    "open_route_service_config": {
        "api_key": ""
    },
    "scheduled_job_interval_sec": 600,
    "supported_activity_types": ["Hike", "Run", "TrailRun", "VirtualRun", "Walk", "Wheelchair"]
}