<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>

  <header>
    <div class="left">
      🏃 <span class="athlete-name">{{.Athl.FirstName}} {{.Athl.LastName}}</span><br/>
      <span class="connected-status">You have successfully connected your Strava account.</span>
    </div>
    <div class="right">
      <button id="menuToggle">☰</button>
      <ul id="menu" class="hidden">
        <li><button onclick="toggleTheme()">🌓 Toggle theme</button></li>
        <li><a href="/settings">⚙️ User Settings</a></li>
        <li><a href="/logout">🚪 Logout</a></li>
      </ul>
    </div>
  </header>

  <main>
    <h2>Ongoing Adventures</h2>
    {{if .StartedAdventures}}
    <section>
      {{range .StartedAdventures}}
      <div class="card">
        <p>📍 <strong>Start:</strong> {{.StartLocation.Name}}</p>
        <p>📍 <strong>End:</strong> {{.EndLocation.Name}}</p>
        <p>📏 <strong>Distance:</strong> {{.Adventure.CurrentDistance}} / {{.Adventure.TotalDistance}} km</p>
        <p>🧭 <strong>Current location:</strong> {{.Adventure.CurrentLocationName}}</p>
        <p>📅 <strong>Start date:</strong> {{.StartDateFormatted}} (GMT)</p>
      </div>
      <div id="map" class="map-container"></div>
      <script>
         // Creating map options
        const startLocation = [{{.StartLocation.Lat}}, {{.StartLocation.Lon}}];
        const endLocation = [{{.EndLocation.Lat}}, {{.EndLocation.Lon}}];
        const currentLocation = [{{.Adventure.CurrentLocationLat}}, {{.Adventure.CurrentLocationLon}}];

        const completedRoute = [
          {{range .CompletedRoute}}
          [{{.Lat}}, {{.Lon}}],
          {{end}}
        ];

        const notCompletedRoute = [
          {{range .NotCompletedRoute}}
          [{{.Lat}}, {{.Lon}}],
          {{end}}
        ]

        var mapOptions = {
          center: currentLocation,
          zoom: 10
        }
         
        var map = new L.map('map', mapOptions);
         
        var layer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        map.addLayer(layer);

        // start
        var startIconOptions = {
          iconUrl: 'static/images/icons/start_icon.png',
          iconSize: [20, 20]
        };
        var customStartIcon = L.icon(startIconOptions);

        var startMarker = new L.Marker(startLocation, {clickable: false, draggable: false, icon: customStartIcon});
        startMarker.addTo(map);

        // end
        var endIconOptions = {
          iconUrl: 'static/images/icons/finish_icon.png',
          iconSize: [20, 20]
        };
        var customEndIcon = L.icon(endIconOptions);

        var endMarker = new L.Marker(endLocation, {clickable: false, draggable: false, icon: customEndIcon});
        endMarker.addTo(map);

        // current
        var currentIconOptions = {
          iconUrl: 'static/images/icons/runner_icon.png',
          iconSize: [20, 20]
        };
        var currentIcon = L.icon(currentIconOptions);

        var currentLocationMarker = new L.Marker(currentLocation, {clickable: false, draggable: false, icon: currentIcon});
        currentLocationMarker.addTo(map);

        if(completedRoute.length > 1) {
          var completedRouteLine = L.polyline(completedRoute, {color: 'green', weight: 3});
          completedRouteLine.addTo(map);
        }

        if(notCompletedRoute.length > 1) {
          var notCompletedRouteLine = L.polyline(notCompletedRoute, {color: 'red', weight: 3});
          notCompletedRouteLine.addTo(map);
        }
      </script>
      {{end}}
    </section>
    {{else}}
    <p>No adventures started yet - time to hit the road!</p>
    {{end}}

    <h2>Completed Adventures</h2>
    {{if .CompletedAdventures}}
    <section>
      {{range .CompletedAdventures}}
      <div class="card">
        <p><strong>📍 Start:</strong> {{.StartLocation.Name}}</p>
        <p><strong>📍 End:</strong> {{.EndLocation.Name}}</p>
        <p><strong>🗺️ Distance:</strong> {{.Adventure.CurrentDistance}} / {{.Adventure.TotalDistance}} km</p>
        <p><strong>📅 Start date:</strong> {{.StartDateFormatted}} (GMT)</p>
        <p><strong>📅 End date:</strong> {{.EndDateFormatted}} (GMT)</p>
      </div>
      {{end}}
    </section>
    {{else}}
    <p>⏳ Still waiting for that finish line! No completed adventures.</p>
    {{end}}

    {{if not .StartedAdventures}}
    <section>
      <h2>Start a New Adventure</h2>
        <form action="/start-adventure" method="POST">
          <div class="form-row">
            <div class="form-group">
              <label for="start">Start location:</label>
              <select id="start" name="start">
                {{ range .AvailableLocations }}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
              </select>
            </div>

            <div class="form-group">
              <label for="stop">Stop location:</label>
              <select id="stop" name="stop">
                {{ range .AvailableLocations }}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
              </select>
            </div>
          </div>

          <div style="text-align: center;">
            <button type="submit">🚀 Start Adventure</button>
          </div>
        </form>
    </section>
    {{end}}
  </main>
  <script src="static/js/theme.js"></script>
</body>
</html>
